@mixin grid(
  $columns: repeat(2, 1fr),
  $rows: false,
  $column-gap: 1rem,
  $row-gap: false
) {
  display: grid;

  @if $columns {
    grid-template-columns: $columns;
    column-gap: $column-gap;
  }

  @if $row {
    grid-template-rows: $rows;
    row-gap: $row-gap;
  }
}

@mixin grid-auto-col() {
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
}

@mixin grid-auto-rows($row-size: auto, $row-gap: 1rem) {
  display: grid;
  grid-template-columns: $row-size;
  grid-auto-flow: row;
  column-gap: $row-gap;
}
