@use './breakpoints' as br;
@use '../vars' as vars;

@mixin font-primary {
  font-family: vars.$font-primary;
}

@mixin font-secondary {
  font-family: vars.$font-secondary;
}

@mixin title-display {
  @include font-secondary;
  font-size: 8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;

  @include br.mobile {
    font-size: 3rem;
  }
}

@mixin h1 {
  @include font-secondary;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  @include br.mobile {
    font-size: 3rem;
  }
}

@mixin h2 {
  @include font-secondary;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 700;

  @include br.mobile {
    font-size: 2.5rem;
  }
}

@mixin h3 {
  @include font-secondary;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 2.7rem */

  @include br.mobile {
    font-size: 2rem;
  }
}

@mixin h4 {
  @include font-secondary;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  @include br.mobile {
    font-size: 1.5rem;
  }
}

@mixin h5 {
  @include font-secondary;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 1.65rem */

  @include br.mobile {
    font-size: 1.25rem;
  }
}

@mixin text-large {
  @include font-primary;
  font-size: vars.$text-large;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@mixin text-base {
  @include font-primary;
  font-size: vars.$text-base;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.5rem */
}

@mixin text-small {
  @include font-primary;
  font-size: vars.$text-small;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

@mixin text-btn {
  @include font-primary;
  font-size: vars.$text-base;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

@mixin text-btn-small {
  @include font-primary;
  font-size: vars.$text-small;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
