@use 'sass:map';
@use './../vars.scss' as *;
@use './breakpoints' as mixin;

@mixin fluid() {
  margin-left: - map.get($page, padding-global, desktop);
  margin-right: - map.get($page, padding-global, desktop);

  @include mixin.mobile {
    margin-left: - map.get($page, padding-global, mobile);
    margin-right: - map.get($page, padding-global, mobile);
  }
}

@mixin fluid-inner() {
  padding-left: map.get($page, padding-global, desktop);
  padding-right: map.get($page, padding-global, desktop);

  @include mixin.mobile {
    padding-left: map.get($page, padding-global, mobile);
    padding-right: map.get($page, padding-global, mobile);
  }
}

.is-fluid {
  @include fluid;
}

.is-fluid-inner {
  @include fluid-inner;
}

@mixin padding-global() {
  padding-left: map.get($page, padding-global, desktop);
  padding-right: map.get($page, padding-global, desktop);

  @include mixin.tablet {
    padding-left: map.get($page, padding-global, tablet);
    padding-right: map.get($page, padding-global, tablet);
  }

  @include mixin.mobile {
    padding-left: map.get($page, padding-global, mobile);
    padding-right: map.get($page, padding-global, mobile);
  }
}
