$text-large: var(--text-large);
$text-main: var(--text-main);
$text-small: var(--text-small);
$heading-1: var(--heading-1);
$heading-2: var(--heading-2);
$heading-3: var(--heading-3);
$heading-4: var(--heading-4);
$heading-5: var(--heading-5);
$heading-display: var(--heading-display);
