@use '../exports.scss' as *;

@include fluid-responsive(14.8, 22, 1440, 2200, false, true);
@include fluid-responsive(16, 24.5, 640, 1023, false, false);
@include fluid-responsive(14, 24, 375, 639, false, false);

body {
  color: $neutral-600;
  background-color: $neutral-100;

  &[data-section-top-color='dark'] {
    .menu_open {
      color: $neutral-100;
    }
  }

  &[data-section-top-color='light'] {
    .menu_open {
      color: $neutral-600;
    }
  }

  &[data-section-bottom-color='dark'] {
    .scroll-bar {
      background-color: $neutral-600;
      border-color: $neutral-100;

      .scroll-bar_item {
        background-color: $neutral-100;
      }
    }
  }

  &[data-section-bottom-color='light'] {
    .scroll-bar {
      background-color: $neutral-100;
      border-color: $neutral-600;

      .scroll-bar_item {
        background-color: $neutral-600;
      }
    }
  }

  &[data-section-bottom-color='grey'] {
    .scroll-bar {
      background-color: $neutral-200;
      border-color: $neutral-600;

      .scroll-bar_item {
        background-color: $neutral-600;
      }
    }
  }

  .menu_open {
    transition: color calc($duration-base / 2) $out-cubic;
    mix-blend-mode: difference;
  }

  .scroll-bar {
    transition:
      background-color calc($duration-base / 2) $out-cubic,
      border-color calc($duration-base / 2) $out-cubic;

    .scroll-bar_item {
      transition: background-color calc($duration-base / 2) $out-cubic;
    }
  }
}
