@use 'sass:map';
@use '../export.scss' as *;

@include fluid-responsive(15.5, 21.5, 1440, 2000, false, true);

@include fluid-responsive(16, 21.5, 640, 1023, false);

@include fluid-responsive(16, 29, 390, 639, false, false);

:root {
  --color-reverse: invert(1);
}

html {
  font-feature-settings: normal;
  font-variation-settings: normal;
  text-size-adjust: 100%;
}

body {
  background-color: $neutral-100;
  color: $neutral-400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

.page-wrapper {
  position: relative;
  transition: opacity $duration-default $ease-out-quad;
  z-index: 1;
}

.main-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: map.get($page, max-width);
  position: relative;
  z-index: 2;
  @include padding-global;
}

.container {
  column-gap: map.get($container, gap, desktop);
  display: grid;
  grid-template-columns: repeat(map.get($container, columns, desktop), 1fr);

  @include mobile {
    column-gap: map.get($container, gap, mobile);
    grid-template-columns: repeat(map.get($container, columns, mobile), 1fr);
  }

  @if map.get($container, max-width) {
    margin-left: auto;
    margin-right: auto;
    max-width: map.get($container, max-width);
  }

  &.is-fluid {
    margin-left: map.get($page, padding-global, desktop);
    margin-right: map.get($page, padding-global, desktop);

    @include mobile {
      margin-left: map.get($page, padding-global, mobile);
      margin-right: map.get($page, padding-global, mobile);
    }
  }
}

section,
.section {
  position: relative;
}
