$animations: (
  in-quad: var(--in-quad),
  in-cubic: var(--in-cubic),
  in-quart: var(--in-quart),
  in-quint: var(--in-quint),
  in-expo: var(--in-expo),
  in-circ: var(--in-circ),
  in-back: var(--in-back),
  out-quad: var(--out-quad),
  out-cubic: var(--out-cubic),
  out-quart: var(--out-quart),
  out-quint: var(--out-quint),
  out-expo: var(--out-expo),
  out-circ: var(--out-circ),
  out-back: var(--out-back),
  in-out-quad: var(--in-out-quad),
  in-out-cubic: var(--in-out-cubic),
  in-out-quart: var(--in-out-quart),
  in-out-quint: var(--in-out-quint),
  in-out-expo: var(--in-out-expo),
  in-out-circ: var(--in-out-circ),
  in-out-back: var(--in-out-back),
  duration-golden: var(--duration-golden),
  duration-base: var(--duration-base)
);

$breakpoints: (
  mobile: var(--mobile),
  tablet: var(--tablet)
);

$colors: (
  white: var(--white),
  black: var(--black),
  neutral-100: var(--neutral-100),
  neutral-200: var(--neutral-200),
  neutral-300: var(--neutral-300),
  neutral-400: var(--neutral-400),
  neutral-500: var(--neutral-500),
  neutral-600: var(--neutral-600)
);

$fonts: (
  font-primary: var(--font-primary),
  font-secondary: var(--font-secondary)
);

$layoutSpacings: (
  base: var(--base),
  container-gutter: var(--container-gutter),
  page-width: var(--page-width),
  padding-global: var(--padding-global),
  padding-vertical-none: var(--padding-vertical-none),
  padding-vertical-small: var(--padding-vertical-small),
  padding-vertical-main: var(--padding-vertical-main),
  padding-vertical-large: var(--padding-vertical-large)
);

$radius: (
  radius-none: var(--radius-none),
  radius-small: var(--radius-small),
  radius-medium: var(--radius-medium),
  radius-large: var(--radius-large),
  radius-full: var(--radius-full),
  radius-round: var(--radius-round)
);

$spacings: (
  space-none: var(--space-none),
  space-2xs: var(--space-2xs),
  space-xs: var(--space-xs),
  space-sm: var(--space-sm),
  space-md: var(--space-md),
  space-lg: var(--space-lg),
  space-xl: var(--space-xl),
  space-2xl: var(--space-2xl),
  space-3xl: var(--space-3xl),
  space-4xl: var(--space-4xl),
  space-5xl: var(--space-5xl)
);

$texts: (
  text-large: var(--text-large),
  text-main: var(--text-main),
  text-small: var(--text-small),
  heading-1: var(--heading-1),
  heading-2: var(--heading-2),
  heading-3: var(--heading-3),
  heading-4: var(--heading-4),
  heading-5: var(--heading-5),
  heading-display: var(--heading-display)
);
