{
  "ignoreFiles": ["**/*", "!**/*.scss", "!**/*.css"],
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-prettier/recommended",
    "stylelint-config-prettier-scss"
  ],
  "rules": {
    "font-family-no-missing-generic-family-keyword": null,
    "font-family-name-quotes": null,
    "value-keyword-case": null,
    "custom-property-pattern": null,
    "prettier/prettier": null,
    "scss/at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "tailwind",
          "layer",
          "apply",
          "variants",
          "responsive",
          "screen",
          "include",
          "for",
          "mixin",
          "if",
          "else",
          "warn",
          "return",
          "function",
          "use",
          "each"
        ]
      }
    ],
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global"]
      }
    ],
    "property-no-unknown": [
      true,
      {
        "ignoreProperties": ["font-named-instance"]
      }
    ],
    "selector-class-pattern": null,
    "no-descending-specificity": null,
    "scss/double-slash-comment-whitespace-inside": null,
    "scss/at-mixin-pattern": null,
    "media-feature-name-no-unknown": null,
    "declaration-empty-line-before": null
  },
  "plugins": ["stylelint-prettier"]
}
