$layoutSpacings: (
  base: var(--base),
  container-gutter: var(--container-gutter),
  page-width: var(--page-width),
  padding-global: var(--padding-global),
  padding-vertical-none: var(--padding-vertical-none),
  padding-vertical-small: var(--padding-vertical-small),
  padding-vertical-main: var(--padding-vertical-main),
  padding-vertical-large: var(--padding-vertical-large)
);
