$spacings: (
  space-none: var(--space-none),
  space-2xs: var(--space-2xs),
  space-xs: var(--space-xs),
  space-sm: var(--space-sm),
  space-md: var(--space-md),
  space-lg: var(--space-lg),
  space-xl: var(--space-xl),
  space-2xl: var(--space-2xl),
  space-3xl: var(--space-3xl),
  space-4xl: var(--space-4xl),
  space-5xl: var(--space-5xl)
);
