@use '../../exports.scss' as *;

.section_home_slider {
  .swiper-slide {
    display: flex !important;
  }

  .main-wrapper {
    mix-blend-mode: difference;
  }

  .slide_button {
    cursor: pointer;
    transition: opacity $duration-base $out-cubic;

    .swiper-button-icon svg {
      transition: transform $duration-base $out-cubic;

      &.is-prev {
        transform: rotate(180deg) !important;
      }
    }

    &.disabled {
      opacity: 0;
      pointer-events: none;
    }

    &:hover {
      .swiper-button-icon svg {
        transform: scale(0.85);
      }
    }
  }

  .pagination_bullet {
    width: 0.5rem;
    height: 0.5rem;
    border: 1px solid $neutral-100;
    background-color: transparent;
    cursor: pointer;
    transition: background-color $duration-base $out-cubic;
  }

  .pagination_bullet.active {
    background-color: $neutral-100;
  }
}
