@use '../../exports.scss' as *;

.section_home_portfolio {
  .project_date,
  .project_open,
  .project_close {
    transition:
      opacity $duration-base $out-cubic,
      transform $duration-base $out-cubic;
  }

  [data-accordion='head'] {
    .title-h3 {
      transition: transform $duration-base $out-cubic;
    }
  }

  @include tablet {
    .project_open {
      opacity: 1 !important;
    }
  }

  [data-accordion='item'] {
    &.is-active {
      [data-accordion='head'] {
        pointer-events: none;
      }
      @include tablet {
        .project_open {
          transform: rotate(45deg);
        }
      }
    }

    &:not(.is-active) {
      [data-accordion='head'] {
        &:hover {
          .title-h3 {
            transform: translateX(0.5rem);
          }

          .project_date {
            opacity: 0 !important;
          }

          .project_open {
            opacity: 1 !important;
          }
        }
      }
    }
  }

  @include desktop {
    @include portrait {
      margin-bottom: 20rem;
    }
    @include square {
      margin-bottom: 10rem;
    }
  }
}
