@use '../../exports.scss' as *;

.section_hero,
.section_home_hero {
  .main-wrapper {
    mix-blend-mode: difference;
  }

  canvas {
    width: 100%;
    height: 100%;
  }

  &.is-animate {
    .main-wrapper,
    .hero_spline_wrap {
      opacity: 0;
    }
  }
}
