@use '../../exports.scss' as *;

.header {
  mix-blend-mode: difference;

  .menu_open {
    .logo_block {
      transition: transform $duration-base $out-cubic;
    }

    &.is-hover,
    &.is-open {
      .logo_block {
        &:first-child {
          transform: translate3d(-0.75rem, -0.75rem, 0);
        }

        &:nth-child(2) {
          transform: translateY(0.75rem);
        }

        &:nth-child(3) {
          transform: translate3d(0.75rem, -0.75rem, 0);
        }
      }
    }

    &.is-open {
      .logo_block {
        &:first-child {
          transform: translate3d(0, -1.5rem, 0) !important;
        }

        &:nth-child(2) {
          transform: translateY(1.5rem) !important;
        }

        &:nth-child(3) {
          transform: translate3d(0, -1.5rem, 0) !important;
        }
      }
    }
  }
}
