@use '../export.scss' as *;

@mixin button_transition($duration, $ease) {
  transition:
    background-color $duration $ease,
    color $duration $ease,
    border-color $duration $ease;

  .button_icon {
    transition: all $duration $ease;
  }

  .button_bg {
    transition: all $duration $ease;
  }

  .button_line {
    transition: width $duration $ease;
  }
}

[data-anim-button='default'] {
  @include button_transition($duration-default, $ease-out-cubic);

  &:hover {
    background-color: $neutral-100;
    color: $neutral-400;
    border-color: $neutral-400;

    .button_icon {
      transform: translateX(0.25rem);
    }
  }
}

[data-anim-button='ghost'] {
  @include button_transition($duration-default, $ease-out-cubic);

  &:hover {
    color: $neutral-400;

    .button_icon {
      transform: translateX(0.25rem);
    }
  }
}

[data-anim-button='outline'] {
  @include button_transition($duration-default, $ease-out-cubic);

  &:hover {
    color: $neutral-400;

    .button_icon {
      transform: translateX(0.25rem);
    }
  }
}

[data-anim-button='text'] {
  @include button_transition($duration-default, $ease-out-cubic);

  &:hover {
    color: $neutral-400;

    .button_icon {
      transform: translateX(0.25rem);
    }
  }
}
