$in-quad: var(--in-quad);
$in-cubic: var(--in-cubic);
$in-quart: var(--in-quart);
$in-quint: var(--in-quint);
$in-expo: var(--in-expo);
$in-circ: var(--in-circ);
$in-back: var(--in-back);
$out-quad: var(--out-quad);
$out-cubic: var(--out-cubic);
$out-quart: var(--out-quart);
$out-quint: var(--out-quint);
$out-expo: var(--out-expo);
$out-circ: var(--out-circ);
$out-back: var(--out-back);
$in-out-quad: var(--in-out-quad);
$in-out-cubic: var(--in-out-cubic);
$in-out-quart: var(--in-out-quart);
$in-out-quint: var(--in-out-quint);
$in-out-expo: var(--in-out-expo);
$in-out-circ: var(--in-out-circ);
$in-out-back: var(--in-out-back);
$duration-golden: var(--duration-golden);
$duration-base: var(--duration-base);
