:root {
  --white: #fff;
  --black: #000;
  --neutral-100: #fff;
  --neutral-200: #f6f6f6;
  --neutral-300: #e6e6e6;
  --neutral-400: #737373;
  --neutral-500: #2c2c2c;
  --neutral-600: #000000;
  --alpha-medium: rgb(0 0 0 / 60%);
}
