.background-color-white {
  background-color: var(--white);
}

.text-white {
  color: var(--white);
}

.background-color-black {
  background-color: var(--black);
}

.text-black {
  color: var(--black);
}

.background-color-neutral-100 {
  background-color: var(--neutral-100);
}

.text-neutral-100 {
  color: var(--neutral-100);
}

.background-color-neutral-200 {
  background-color: var(--neutral-200);
}

.text-neutral-200 {
  color: var(--neutral-200);
}

.background-color-neutral-300 {
  background-color: var(--neutral-300);
}

.text-neutral-300 {
  color: var(--neutral-300);
}

.background-color-neutral-400 {
  background-color: var(--neutral-400);
}

.text-neutral-400 {
  color: var(--neutral-400);
}

.background-color-neutral-500 {
  background-color: var(--neutral-500);
}

.text-neutral-500 {
  color: var(--neutral-500);
}

.background-color-neutral-600 {
  background-color: var(--neutral-600);
}

.text-neutral-600 {
  color: var(--neutral-600);
}

.background-color-alpha-medium {
  background-color: var(--alpha-medium);
}

.text-alpha-medium {
  color: var(--alpha-medium);
}
